/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.cards{
  display: flex;
  background: transparent;
  border-radius: 6px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  min-width: 80rem;
  max-width: 80rem;
  height: 10rem;
  border-style: outset;
}


/* .cards:hover{
  background: -webkit-linear-gradient(right, #999999, #161616);
  box-shadow: 2px 2px 10px rgb(49, 49, 49);
} */

.image img{
  padding: 10px;
  min-width: 16rem;
  max-width: 16rem;
  background-color: white;
  height: 9.7rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  transform: translate(-4%, 0%);
}

body{
  margin: 5px 20px;
  font-size: 1rem;
  letter-spacing: 1px;
  background: #fafafa;
}
body {
  background-image: url('../Site_logos/web3.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
h1, h2, h3, h4, ul, li, a, p, input, label, button, div, footer{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #444;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  padding-top: 5px;
  justify-content: space-between;
  align-items: flex-end;
}
nav ul{
  display: flex;
  align-items: center;
}
nav li{
  margin-left: 10px;
  color: white;
}
nav  ul li:nth-child(2){
  margin-left: 890px;
  border-radius: 36px;
  background: -webkit-linear-gradient(right, #ffffff, #726f74);
}
nav ul li:nth-child(3)  {
    margin-left: 30px;
    background-color: rgb(39, 38, 38); 
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 36px;
}
nav ul li:nth-child(4){
  margin-left: 30px;
  border-radius: 36px;
  background: -webkit-linear-gradient(right, #ffffff, #726f74);
}
nav li a{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.btns:hover{
  background: -webkit-linear-gradient(left, #ffffff, #726f74);
}
.btn2:hover{
  background: -webkit-linear-gradient(left, #726f74, white);
}
.btn2{
  border-radius: 23px;
  background: -webkit-linear-gradient(left, #ffffff, #726f74);
  padding: 15px;
  font-size: 40px;
}
h1{
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 0px;
  font-size: 70px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
h2{
font-size: 65px;
color: white;
margin-top: 43px;
margin-left: 25px;
text-transform: uppercase;
}
.abc{
font-size: 55px;
color: white;
margin-top: 10px;
margin-left: 60px;
  font-weight: 500;
text-transform: uppercase;
}
.back{
  /* display: flex;
    align-items: center; */
  margin-top: 10px;
  width: 110px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
  border-radius: 36px;
  background: linear-gradient(to right, rgb(141, 141, 141), rgba(255,255,255));
  }
#topicss{
    margin-top: 30px;
    margin-left: 0px;
  }
#topicss ul{
  color: white;
    font-weight: bold;
    list-style: none;
}
#topicss li{
  margin-left: 100px;
  margin-top: 30px;
  text-align: left;
  font-size: 20px;
  color: rgb(192, 189, 183);
}
#topicss li a{
  margin-left: 10px;
  align-content: center;
  color: rgb(248, 248, 248);
  font-weight: 500;
  font-size: 50px;
  cursor: pointer;
  text-decoration-style: solid;
} 

#topicss li a:hover{
  text-decoration-style: solid;
  font-weight: 800;
}

.title{
  display: inline;
  text-align: left;
  text-transform: uppercase;
  background: transparent;
  max-width: 600px;
  min-width: 600px;
  font-size: 4rem;
}
  

  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  /* margin: 0;
  padding: 0; */
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* body{
  height: 100%;
  width: 100%;
  
} */
.show-btn{
  background: white;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  display: block;
  color: #070607;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(54, 7, 7, 0.1);
  border-radius: 36px;
}
.container{
  position: absolute;
  top: 55%;
  left: 72%;
  transform: translate(-50%, -50%);
}
.show-btn{
  position: absolute;
  top: 25%;
  left: 88%;
  transform: translate(-10%, -100%);
}
input[type="checkbox"]{
  display: none;
}

.container{
  display: none;
  background: -webkit-linear-gradient(left, #8a8485, #e4ecec);
  /* background-color: rgb(148, 141, 141); */
  width: 750px;
  height: 690px;
  margin-top: 25px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
#show:checked ~ .container{
  display: block;
}
.container .close-btn{
  position: absolute;
  color: black;
  right: 20px;
  font-weight: bold;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}
.container .close-btn:hover{
  font-weight: bolder;
  font-size:20px;
}
.container .text{
  font-size: 35px;
  margin-top: -10px;
  font-weight: 500;
  text-align: center;
  color: black;
}
.container form{
  margin-top: -20px;
}
.container form .data{
  height: 40px;
  top: 20px;
  width: 100%;
  margin: 50px 0;
}
form .data label{
  font-size: 18px;
  /* margin-top: 600px; */
  font-weight: 500;
  color: black;
}

form #file label{
  font-size: 18px;
  /* margin-top: 600px; */
  font-weight: 400;
  color: black;
}

form #file input{
  /* height: 100%;
  width: 100%; */
  margin-top: 5px;
  padding-left: 10px;
  font-size: 17px;
  padding-bottom: 0px;
  /* border: 1px solid silver; */
}

/* form .data select{
  height: 100%;
  width: 100%;
  margin-top: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
} */

form .data input{
  height: 100%;
  width: 100%;
  margin-top: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
}
form .data select{
  height: 100%;
  width: 100%;
  margin-top: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
}
form .data input:focus{
  border-color: #3498db;
  border-bottom-width: 2px;
}

form .btn{
  margin: 30px 0;
  height: 45px;
  width: 30%;
  top: 30px;
  left: 270px;
  position: relative;
  overflow: hidden;
}
form .btn .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  z-index: -1;
  /* background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea); */
  /* transition: all 0.4s; */
}
form .btn:hover .inner{
  left: 0;
}
form .btn button{
  height: 100%;
  width: 70%;
  /* background: none; */
  background: -webkit-linear-gradient(right, #777474, #eef3f3);
  transition: all 0.4s;
  border-radius: 30px;
  /* border: none; */
  color: black;
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
form .btn button:hover{
 
  background: -webkit-linear-gradient(left, #777474, #eef3f3);
  transition: all 0.4s;
}

#status{
  color: rgb(245, 0,0); 
  text-align: center;
  margin-top: 35px;
  font-size: 25px;
  font-weight: 600;
}
form .data div{
  color: red;
  font-weight: 900;
}